body {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  font-family: system-ui, -apple-system, 'Open Sans', sans-serif;
  
}




.navbar {
  position: fixed;
  width: 100%;
  z-index: 100;
  display: flex;
  background-color: #ea0e0e;
  justify-content: center;
}

.nav_container {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-width: 60px;
  cursor: pointer;

}

.nav_wrapper {
  margin: 0px 25px;
  display: flex;
  align-items: center;

}


.nav-container {
  display: flex;
  align-items: center;
}


.nav_icon {
  font-size: 24px;
  cursor: pointer;
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.nav_icon:hover{
  color: #9586F0;
}

.nav_:active{
  color: #F09386;
}

.nav_toggle {
  display: none;
  cursor: pointer;
}

.bar {
  background-color: black;
  height: 4px;
  width: 30px;
  margin: 3px 0;
  transition: 0.4s;
}

#nav_toggle:checked + .nav_icon .bar:nth-child(1) {
  position:absolute ;
  transform: rotate(-45deg) translate(-1px, 6px);
  
}

#nav_toggle:checked + .nav_icon .bar:nth-child(2) {
  opacity: 0;
}

#nav_toggle:checked + .nav_icon .bar:nth-child(3) {
  transform: rotate(45deg) translate(-1px, -6px);
}

nav {
  display: flex;
  flex-direction: row;
}

.nav_item {
  color: black;
  text-decoration: none;
  margin: 0px 5px;
  padding: 10px;
}
.nav_item_active{
  border-bottom: 1px black solid;
}

.nav_item:last-child{
  margin-right: 0;
}

.nav_item:hover{
  color: #5b6ceb;
}

.nav_item:active{
  border-bottom: 1px black solid;
}





main {
  margin-top: 100px;
  width: 100%;
}

#section1 {
  height: calc(100vh - 100px);
  background-color: #5b6ceb;
}

.section_form {
  min-width: 300px;
  height: 391px;
  border-radius: 20px;
  filter: drop-shadow(5.657px 5.657px 5px rgba(0,0,0,0.15));
  background-color: #ffffff;
}

.form_field {
width: 240px;
height: 50px;
border-radius: 8px;
background-color: #f2f2f2;
}

.form_button {
  background-color:black;
  background-color: #4CAF50;
  padding: 8px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  margin-bottom: 0;
  width: 20%;

}
.new {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  bottom: 0px;
  z-index: 1003;
  height: 30px;
  background-color: #86F0BD;
}


#nav_toggle {
  width: 25px;
  height: 25px;
  position: absolute;
  z-index: 10;
  opacity: 0;
  cursor: pointer;
}



@media (max-width: 1300px) {
  .right_side{
    display: none;
  }

  .main_text_nav_wrapper{
    max-width: 90%;
  }

}

@media (max-width: 1050px) {

}

@media (max-width: 870px) {

}

@media (max-width: 770px) {
  .navbar{
    display: flex;
    width: 100%;
    top: 0;
    left: 0;
  }



}

@media (max-width: 520px) {
  
  nav {
    display: none;
  }

  #nav_toggle {
    display: flex;
  }

  .nav_icon{ 
    display: flex;
  }


  #nav_toggle:checked ~ nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items:center;
    z-index: 5;
    top: 100px;
    right: 0px;
    min-width: 36%;
    background-color: #f0e286fb;
    
  }
  .nav_item:last-child {
    margin: 0 5px;
  }
}

@media (max-width: 420px) {



}


@font-face {
  font-family: "Roboto";  
  src: url("./fonts/Roboto/Roboto-Regular.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal;
  }

